<div class="container">
  <div class="container__card">
    <form class="container__card__form" [formGroup]="formGroup">
      <span class="container__card__form__title">Welcome</span>
      <div class="container__card__form__input">
        <input
          class="container__card__form__input__content"
          type="text"
          name="username"
          [ngClass]="{ hasVal: username?.value != '' }"
          formControlName="username"
        />
        <span
          class="container__card__form__input__focus"
          data-placeholder="Username"
        ></span>
      </div>

      <div class="container__card__form__input">
        <span class="btn-show-pass">
          <span class="material-symbols-outlined container__card__form__input__pass-visibility" (click)="typeInput === 'text' ? typeInput = 'password' : typeInput = 'text'">{{typeInput === 'text' ? 'visibility_off' : 'visibility'}}</span>
        </span>
        <input
          id="password"
          class="container__card__form__input__content"
          [type]="typeInput"
          name="password"
          [ngClass]="{ hasVal: password?.value != '' }"
          formControlName="password"
        />
        <span
          class="container__card__form__input__focus"
          data-placeholder="Password"
        ></span>
      </div>
      <button
        type="submit"
        [disabled]="this.formGroup.invalid"
        class="container__card__form__submit"
        (click)="redirecionaHome()"
      >
        Login
      </button>
    </form>
  </div>
</div>
