<div class="container">
  <div (mouseleave)="abreDropdown = false">
      <button class="container__drop-toggle" (click)="abreDropdown =! abreDropdown">
          <span class="container__drop-toggle__label" *ngIf="exibeLabelAoSelecionar || selecionados.length === 0">{{label}}</span>
          <span class="container__drop-toggle__label" *ngIf="selecionados.length>0">
            {{selecionados.join(', ')}}
          </span>
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </button>
      <div class="container__drop-options" *ngIf="abreDropdown">
          <label *ngFor="let item of lista">
              <input [type]="multiselect === true ? 'checkbox' : 'radio'" (change)="selecionaItem(item)" [checked]="selecionados.includes(item)"/>
              <span>{{item}}</span>
          </label>
      </div>
  </div>
</div>
