$color-primary: #454e7a;

$bg-primary: #454e7a;
$bg-secondary: #f8f9fd;

$color-font-primary: #212529;
$color-font-secondary: #808080;

$color-alert: #EAC452;

$font-primary: 'Poppins',Arial, sans-serif;

