@import '../../../assets/styles/colors.scss';

.container {
  width: 100%;

  // paginacao
  &__paginacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 40px 0 0 0;
    justify-content: space-between;

    .paginacao-navegacao {
      display: flex;
      align-items: center;
    }

    button {
      span {
        color: $color-primary;
      }

      &:disabled {
        span {
          color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
        }
      }
    }
  }

  // tabela
  &__table{
    height:450px;
    overflow:scroll;
    margin-top: 95px;
    background-color: white;

    &__table-box {
      width: 100%;
      -webkit-box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
      -moz-box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
      box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
      border-collapse: collapse;

      &__blank {
        height: 450px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
      }

      thead{
        th{
          text-align: center;
          border: none;
          padding: 30px;
          font-size: 13px;
          font-weight: 500;
          color: lighten(#000,50%);
          width: 25%;
        }
        tr{
          background: #fff;
          border-bottom: 4px solid darken(#f8f9fd,3%);
          position: absolute;
          width: 100%;
          display: inline-table;
          top: -88px;
        }
      }
      tbody{
        tr{
          margin-bottom: 10px;
          border-bottom: 4px solid #f8f9fd;
          &:last-child{
            border-bottom: 0;
          }
        }
        th,td{
          text-align: center;
          border: none;
          padding: 30px;
          font-size: 14px;
          background: #fff;
          vertical-align: middle;
          color: #212529;
          width: 25%;
        }
      }

      .table-icon-sort{
        font-size: 16px;
        position: relative;
        top: 3px;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 767px) {

  .container {
    &__table {
      overflow: hidden;
      margin: 0;
      height: auto;

      &__table-box {
        min-height: 300px;

        &__blank {
          height: 300px;
        }

        .table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
          width: 100%;
        }

        thead {
          display: none;
        }

        tr {
          margin-bottom: 15px;
          box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
        }

        td {
          position: relative;
          width: 70% !important;
          padding: 0 0 0 28% !important;

          &:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            top: 0;
            padding-left: 12%;
            font-weight: bold;
            white-space: nowrap;
            color: $color-primary;
          }
        }
      }
    }

    &__paginacao {
      margin-bottom: 20px;
    }
  }
}
