<div *ngIf="placas.length > 0">
  <div class="container-filtros">
    <div class="row">
      span
      <span>
        <input
          class="input-date"
          type="date"
          [(ngModel)]="filterData"
          placeholder="Filtrar por data"
        />
      </span>
      <span>
        <app-dropdown [label]="'Placa(s)'" [lista]="placas"></app-dropdown>
      </span>
      <span>
        <input class="slide-up" id="filtro-placa" type="text" placeholder="ABC6787" [(ngModel)]="filterPlaca" /><label for="filtro-placa">Placa</label>
      </span>
      <span>
        <input class="slide-up" id="filtro-poi" type="text" placeholder="Ponto 1" [(ngModel)]="filterPosicao" /><label for="filtro-poi">Posição</label>
      </span>
    </div>
  </div>

  <div style="position: relative;">
    <div class="container-table">
      <table class="table-box">
        <thead>
          <tr>
            <th (click)="sortData('placa')">
              <span class="table-icon-sort material-symbols-outlined">swap_vert</span>
              Placa
            </th>
            <th (click)="sortData('posicao')">
              <span class="table-icon-sort material-symbols-outlined">swap_vert</span>
              Posição
            </th>
            <th (click)="sortData('data')">
              <span class="table-icon-sort material-symbols-outlined">swap_vert</span>
              Data
            </th>
            <th>Tempo</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedData()">
              <td>{{ item.placa }}</td>
              <td>{{ item.posicao }}</td>
              <td>{{ item.data | date : "dd/MM/yyyy" }}</td>
              <td>{{ item.tempo }}</td>
            </tr>
        </tbody>
        <div *ngIf="paginatedData().length === 0" style="height: 450px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);">
          <span>Nao há resultados</span>
        </div>
      </table>
    </div>
  </div>

  <div class="container-paginacao">
    <div class="paginacao-navegacao">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        <span class="paginacao-icon material-symbols-outlined">
          chevron_left
        </span>
      </button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        <span class="paginacao-icon material-symbols-outlined">
          chevron_right
        </span>
      </button>
    </div>
    <div class="paginacao-resultados">
          <label for="pageSize">Resultados por página:</label>
          <select id="pageSize" (change)="updatePageSize($event)">
            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
          </select>
    </div>
  </div>
</div>
