<div class="container">
  <div style="position: relative;">
    <div class="container__table">
      <table class="container__table__table-box">
        <thead>
          <tr>
            <th (click)="sortData('placa')">
              <span class="table-icon-sort material-symbols-outlined">swap_vert</span>
              Placa
            </th>
            <th (click)="sortData('posicao')">
              <span class="table-icon-sort material-symbols-outlined">swap_vert</span>
              Posição
            </th>
            <th>
              Data
            </th>
            <th>Tempo</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedData()">
              <td data-label="Placa">{{ item.placa }}</td>
              <td data-label="Posicao">{{ item.posicao }}</td>
              <td data-label="Data">{{ item.data | date : "dd/MM/yyyy" }}</td>
              <td data-label="Tempo">{{ item.tempo }}</td>
            </tr>
        </tbody>
        <div *ngIf="paginatedData().length === 0" class="container__table__table-box__blank">
          <span>Nao há resultados</span>
        </div>
      </table>
    </div>
  </div>

  <div class="container__paginacao">
    <div class="paginacao-navegacao">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        <span class="paginacao-icon material-symbols-outlined">
          chevron_left
        </span>
      </button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        <span class="paginacao-icon material-symbols-outlined">
          chevron_right
        </span>
      </button>
    </div>
    <div class="paginacao-resultados">
          <label for="pageSize">Resultados por página:</label>
          <select id="pageSize" (change)="updatePageSize($event)">
            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
          </select>
    </div>
  </div>
</div>
